<form>
  <div>
    <div class="col-md-12" style="text-align:right;">
      <div class="dropdown pull-right text-right" style="padding-bottom:1px;">
        <select class="form-control btn-primary" id="ddlpvExport" (change)="exportToFile()">
          <option value="null">Export</option>
          <option value="Excel" style="color:#df133a;background-color: #fff;">Excel</option>
          <option value="PDF" style="color:#2063d1;background-color: #fff;">PDF</option>
        </select>
      </div>
    </div>
    <div class="tab-pane fade in active" role="tabpanel" id="orders" aria-labelledby="orders-tab">
      <div class="table-responsive custom-table">
        <table [dtTrigger]="mediaAssetsTableDatatableTrigger" datatable [dtOptions]="mediaAssetsTable" class="table post-orders-table"
          id="mediaAssetsDatatable" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Media asset</th>
              <th>Last order date</th>
              <th>Total quantity</th>
              <th>Revenue</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</form>