<div class="row">

    <div *ngIf="isLoading" class="loading-spiner">
        <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
    </div>

    <div class="col-sm-12">

        <div class="row">

            <div class="col-sm-3">
                <div class="tile-progress tile-cyan">
                    <div class="tile-header">
                        <h3>Media product revenue</h3>
                    </div>
                    <div class="tile-footer">
                        <h4>
                            <span class="pct-counter">{{totalNetAmountCurrentYear }}</span>
                        </h4>
                    </div>
                    <div class="tile-progressbar">
                        <span [style.width.px]="totalNetAmountCurrentYear"></span>
                    </div>
                    <div class="tile-footer">
                        <span>Last year's total {{totalNetAmountPreviousYear }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="tile-progress tile-green">
                    <div class="tile-header">
                        <h3>Media orders</h3>
                    </div>
                    <div class="tile-footer">
                        <h4>
                            <span class="pct-counter">{{insertionOrderCountCurrentYear}} </span>
                        </h4>
                    </div>
                    <div class="tile-progressbar">
                        <span [style.width.px]="insertionOrderCountCurrentYear"></span>
                    </div>
                    <div class="tile-footer">
                        <span>Last year's total {{insertionOrderCountPreviousYear}}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="tile-progress tile-orange">
                    <div class="tile-header">
                        <h3>Media assets sold</h3>
                    </div>
                    <div class="tile-footer">
                        <h4>
                            <span class="pct-counter">{{mediaAssetUsedInOrderCurrentYear}}</span>
                        </h4>
                    </div>
                    <div class="tile-progressbar">
                        <span [style.width.px]="mediaAssetUsedInOrderCurrentYear"></span>
                    </div>
                    <div class="tile-footer">
                        <span>Last year's total {{mediaAssetUsedInOrderPreviousYear}}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="tile-progress tile-purple">
                    <div class="tile-header">
                        <h3>Unique customers</h3>
                    </div>
                    <div class="tile-footer">
                        <h4>
                            <span class="pct-counter">{{advertiserUsedInOrderCurrentYear}}</span>
                        </h4>
                    </div>
                    <div class="tile-progressbar">
                        <span [style.width.px]="advertiserUsedInOrderCurrentYear"></span>
                    </div>
                    <div class="tile-footer">
                        <span>Last year's total {{advertiserUsedInOrderPreviousYear}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="chart-container">
            <div class="row">

                <div class="col-md-6">
                    <h4 class="chart-title">Number of orders by issue</h4>
                    <div class="chart-holder">
                        <div id="Barchart"></div>
                    </div>
                </div>

              

                <div class="col-md-6">
                    <h4 class="chart-title">Revenue by issue</h4>
                    <div class="chart-holder">
                        <div id="RevenueBarchart"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4 class="chart-title"> 2-Year comparative revenue by order creation</h4>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">&nbsp;</label>
                                <div class="clearfix"></div>
                                <label for="">&nbsp;</label>
                            </div>
                        </div>
                    </div>

                    <div class="chart-holder">
                        <div id="YearlyOrderBarchart"></div>
                    </div>
                </div>


                <div class="col-md-6">
                    <h4 class="chart-title">Orders status</h4>
                    <form id="ordersByStatusForm" [formGroup]="ordersByStatusForm">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="MediaAsset">Media asset </label>
                                    <div class="clearfix"></div>
                                    <ng-select formControlName="MediaAssetId" [items]="mediaAssetsList" id="ddlMediaAsset"
                                    (change)="onChangeMediaAsset()" placeholder="Select media asset" bindLabel="MediaAssetName"
                                    bindValue="MediaAssetId">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="IssueDate">Issue date </label>
                                    <div class="clearfix"></div>                       
                                    <ng-select formControlName="IssueDateId" [items]="issueDatesList" id="ddlIssueDate"
                                        (change)="onChangeIssueDate()" placeholder="Select issue date">
                                        <ng-option *ngFor="let items of issueDatesList" [value]="items.IssueDateId">
                                            {{items.CoverDate | date : "MM/dd/yyyy"}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="BlankSpace"> &nbsp; </label>
                                    <div class="clearfix"></div>
                                    <button type="submit" (click)="getOrdersbyStatus()" class="blueBtn">Go</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="chart-holder">
                        <div id="Piechart"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tabs-main-container">

            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                <li role="presentation" style="cursor: pointer;" [ngClass]="{'active':advertiserTab,  'noclick':advertiserDisable}">
                    <a (click)="setAdvertisersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Top
                        advertisers</a>
                </li>
                <li role="presentation" style="cursor: pointer;" [ngClass]="{'active':mediaAssetTab,  'noclick':mediaAssetDisable}">
                    <a (click)="setMediaAssetsTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Top
                        media
                        assets</a>
                </li>
                <li role="presentation" style="cursor: pointer;" [ngClass]="{'active':proposalOrderTab,  'noclick':proposalOrderDisable}">
                    <a (click)="setProposalOrderTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">Proposals</a>
                </li>
            </ul>

            <div class="tab-content">

                <div *ngIf="advertiserTab==true" class="tab-pane fade in" [class.active]="advertiserTab==true" role="tabpanel"
                    id="AdvertiserTab" aria-labelledby="productionview-tab">
                    <asi-advertiser-tab></asi-advertiser-tab>
                </div>

                <div *ngIf="mediaAssetTab==true" class="tab-pane fade in" [class.active]="mediaAssetTab==true" role="tabpanel"
                    id="completeorders" aria-labelledby="productionview-tab">
                    <asi-media-asset-tab></asi-media-asset-tab>
                </div>

                <div *ngIf="proposalOrderTab==true" class="tab-pane fade in" [class.active]="proposalOrderTab==true"
                    role="tabpanel" id="pickUpFilesOrders" aria-labelledby="productionview-tab">
                    <asi-proposal-order-tab></asi-proposal-order-tab>
                </div>

            </div>
        </div>

    </div>
</div>