<form>
  <div>
    <div class="col-md-12" style="text-align:right;">
      <div class="dropdown pull-right text-right" style="padding-bottom:1px;">
        <select class="form-control btn-primary" id="ddlpvExport" (change)="exportToFile()">
          <option value="null">Export</option>
          <option value="Excel" style="color:#df133a;background-color: #fff;">Excel</option>
          <option value="PDF" style="color:#2063d1;background-color: #fff;">PDF</option>
        </select>
      </div>
    </div>
    <div class="table-responsive custom-table">
      <table [dtTrigger]="advertiserTableDatatableTrigger" datatable [dtOptions]="advertiserTable"
      class="table post-orders-table display" id="advertiserDatatable"
        cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Advertiser</th>
            <th>No of orders</th>
            <th>Amount</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</form>