<div>
    <div class="row">
        <form name="potForm" [formGroup]="potForm" (ngSubmit)="displayOrderDatatableJquery()">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="MediaAsset">Media asset </label>
                    <div class="clearfix"></div>
                    <ng-select [items]="mediaAssets" id="ddlProposalMediaAsset" placeholder="Select media asset" bindLabel="MediaAssetName" bindValue="MediaAssetId"
                        formControlName="MediaAsset" (change)="onChangeMediaAsset()">
                    </ng-select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="IssueDate">Issue date </label>
                    <div class="clearfix"></div>
                    <ng-select formControlName="IssueDate" [items]="issueDates" id="ddlProposalIssueDate"
                    (change)="onChangeIssueDate()" placeholder="Select issue date">
                    <ng-option *ngFor="let items of issueDates" [value]="items.IssueDateId">
                        {{items.CoverDate | date : "MM/dd/yyyy"}}</ng-option>
                </ng-select>

                </div>
            </div>

            <div class="col-md-3 ">
                <div class="form-group">
                    <label for="BlankSpace"> &nbsp; </label>
                    <div class="clearfix"></div>
                    <button type="submit" class="blueBtn createBtn">GO</button>
                </div>
            </div>

        </form>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="BlankSpace"> &nbsp; </label>
                <div class="clearfix"></div>
                <div class="col-md-12" style="text-align:right;">
                    <div class="dropdown pull-right text-right" style="padding-bottom:1px;">
                        <select class="form-control btn-primary" id="ddlpvExport" (change)="exportToFile()">
                            <option value="null">Export</option>
                            <option value="Excel" style="color:#df133a;background-color: #fff;">Excel</option>
                            <option value="PDF" style="color:#2063d1;background-color: #fff;">PDF</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="tab-pane fade in active" role="tabpanel" id="orders" aria-labelledby="orders-tab">
            <div class="table-responsive custom-table">
                <table class="table post-orders-table" [dtTrigger]="proposalTableDatatableTrigger" datatable [dtOptions]="proposalTable"
                    id="proposalOrderDatatable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Buy id</th>
                            <th>Advertiser</th>
                            <th>Billing contact</th>
                            <th>Status </th>
                            <th>Gross cost</th>
                            <th>Net cost</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>